*{
color: white;
  }
.subHeader {
  font-family: 'Sacramento', cursive;
  margin: 50px;
  font-size: 63px;
}
[data-new-row="true"]{
  clear:both;
  /*the element is moved down to clear past both left and right floats.*/
}
button {
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: #d3d3d3;
    -webkit-box-shadow: 10px 10px 46px -5px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 46px -5px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 46px -5px rgba(0,0,0,0.67);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.name {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 130px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.tile {

  width: 130px;
  height: 130px;
  display: inline;
  float: left;
  font-size: 48px;
  /*text-align: center;*/
  line-height: 200px;
  outline: solid;
  outline-color: white;
}
.clock{
  /*position: absolute;*/
  font-size: 45px;
  clear: right;
  height: 10px;
  width: 10px;
  float: right;
  /*padding-top: 5px;*/
  margin-right: 50px;
  padding-right: 60px;
}
body{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;

}
