*{
color: white;
  }
.subHeader {
  margin: 50px;
  font-size: 30px;
}
button {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 120px;
    background-color: #d3d3d3;
    -webkit-box-shadow: 10px 10px 46px -5px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 10px 46px -5px rgba(0,0,0,0.67);
    box-shadow: 10px 10px 46px -5px rgba(0,0,0,0.67);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.name {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
  color: white;
}
.tile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  float: left;
  font-size: 48px;
  text-align: center;
  line-height: 200px;
  outline: solid;
  outline-color: white;
}

.tile:nth-of-type(1) {
  background: #42CAC6;
}

.tile:nth-of-type(2) {
  background: #42CAC6;
}

.tile:nth-of-type(3) {
  background: #42CAC6;
}
.tile:nth-of-type(4) {
  background: #42CAC6;
}
.tile:nth-of-type(5) {
  background: #42CAC6;
}
.tile:nth-of-type(6) {
  background: #42CAC6;
}

.tile:nth-of-type(7) {
  background: #51A5D4;
}

.tile:nth-of-type(8) {
  background: #51A5D4;
}

.tile:nth-of-type(9) {
  background: #51A5D4;
}
.tile:nth-of-type(10) {
  background: #51A5D4;
}
.tile:nth-of-type(11) {
  background: #51A5D4;
}
.tile:nth-of-type(12) {
  background: #51A5D4;
}

.tile:nth-of-type(13) {
  background: #4873A6;
}

.tile:nth-of-type(14) {
  background: #4873A6;
}

.tile:nth-of-type(15) {
  background: #4873A6;
}
.tile:nth-of-type(16) {
  background: #4873A6;
}
.tile:nth-of-type(17) {
  background: #4873A6;
}
.tile:nth-of-type(18) {
  background: #4873A6;
}

.tile:nth-of-type(19) {
  background: #5A5387;
}
.tile:nth-of-type(20) {
  background: #5A5387;
}
.tile:nth-of-type(21) {
  background: #5A5387;
}
.tile:nth-of-type(22) {
  background: #5A5387;
}
.tile:nth-of-type(23) {
  background: #5A5387;
}
.tile:nth-of-type(24) {
  background: #5A5387;
}

.tile:nth-of-type(25) {
  background: #57416B;
}
.tile:nth-of-type(26) {
  background: #57416B;
}
.tile:nth-of-type(27) {
  background: #57416B;
}
.tile:nth-of-type(28) {
  background: #57416B;
}
.tile:nth-of-type(29) {
  background: #57416B;
}
.tile:nth-of-type(30) {
  background: #57416B;
}
